@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --color-light: #FCFDFD;
    --color-dark: #070707;
    --color-primary: #2563EB;
    --color-secondary: #211C84;
    --color-accent: #F97316;
    --color-success: #27AE60;
    --color-danger: #EB5757;
    --color-warning: #F7CE52;
}

[x-cloak] { 
    display: none !important; 
}

.sidebar-transition {
    transition: width 0.3s ease, transform 0.3s ease;
}